[ubuntu]
smp = 8
mem.size = 8
mem.unit = "G"
bios = "/usr/share/qemu/OVMF.fd"
disk = "ubuntu-x86_64.qcow2"

[ubuntu.mods.install]
kernel = "https://releases.ubuntu.com/24.04/netboot/amd64/linux"
initrd = "https://releases.ubuntu.com/24.04/netboot/amd64/initrd"
append = "cloud-config-url=/dev/null ip=dhcp url=https://releases.ubuntu.com/noble/ubuntu-24.04-latest-live-server-amd64.iso only-ubiquity console=ttyS0,115200"
extras = [ "-no-reboot" ]

[ubuntu.mods.sev]
sudo = true
extras = [
	"-object",
	"sev-guest,id=sev0,cbitpos=51,reduced-phys-bits=1",
	"-machine",
	"confidential-guest-support=sev0"
]

[ubuntu.mods.sev-es]
sudo = true
extras = [
	"-object",
	"sev-guest,id=sev0,cbitpos=51,reduced-phys-bits=1,policy=0x5",
	"-machine",
	"confidential-guest-support=sev0"
]

[ubuntu.mods.sev-snp]
sudo = true
extras = [
	"-object",
	"sev-snp-guest,id=sev0,cbitpos=51,reduced-phys-bits=1",
	"-machine",
	"confidential-guest-support=sev0"
]
